.navbar {
    background-color: #AAAE7F;
    display: flex;
    margin-bottom: 2em;
}

.navbar .nav-link {
    text-decoration: none;
    margin: 2rem 3rem;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(255, 255, 255);
    letter-spacing: 3px;
}

.navbar .nav-link:hover {
    color: #335255;
}

.links{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.job {
    position: relative;
  }
  
  .delete-icon {
    position: absolute;
    top: 0px;
    right: 1px;
    color: rgb(0, 0, 0);
    cursor: pointer;
  }
  