* {
    box-sizing: border-box;
}

.App {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.App .column {
    width: 30%;
}

.droppable-col {
    width: 100%;
    background-color: #b7d3f0;
    padding: 10px 10px 0 10px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    min-height: 300px
}

.job {
    margin-bottom: 10px;
    background-color: yellowgreen;
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 7px;
}

.job.dragging {
    background-color: orangered;
}