.resources-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .section-title {
    color: whitesmoke;
    background-color: #AAAE7F;
    padding: 0.5em;
  }
  
  .resource-list {
    background-color: #AAAE7F;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    color: whitesmoke;
  }
  
  .resource-list p {
    margin-bottom: 10px;
  }
  
  .resource-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .resource-list ul li {
    margin-bottom: 5px;
  }
  
  .resource-list a {
    color: whitesmoke;
    text-decoration: none;
  }
  
  .resource-list a:hover {
    text-decoration: none;
    color: #335255;
  }
  
  .job-websites ul {
    display: flex;
    justify-content: space-between;
  }
  
  .faq-table {
    width: 100%;
  }
  
  .faq-table table {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .faq-table td {
    border: 1px solid #ddd;
    padding: 10px;
    cursor: pointer;
  }
  
  .faq-question {
    font-weight: bold;
    background-color: #AAAE7F;
    color: whitesmoke;
  }
  
  .faq-answer {
    display: none;
    background-color: #AAAE7F;
    color: whitesmoke;
  }
  
  .faq-answer.expanded {
    display: table-cell;
  }
  